# terraform.tfvars.example
# This file is for local testing only.
# Do NOT include secrets here — use GitHub Actions secrets for CI/CD.

resource_group_name     = "rgGraphAutomationInfra"
location                = "westus"
automation_account_name = "terraform-gh-action"
runbook_name            = "GraphUserPhotoSync"
script_path             = "./scripts/GraphUserPhotoSync-Automation.ps1"
